ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    list-style: none;
}

a {
    color: purple;
    text-decoration: none;
}


a:hover {
    color: green;
    text-decoration: underline 2px;
    transition: ease 0.1s;
}

body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}

h1 {
    color: green;
    letter-spacing: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: orange;
    text-shadow: 0px 7px 8px;
}

h3 {
    color: purple;
    text-shadow: 0px 7px 8px;
}